<h1>{{user.name}}</h1>

Administrator page.

<form>
    <fieldset>
        <legend>
            <msg key="newExpense"></msg>
        </legend>

        <label>
            <msg key="name"></msg>
        </label>
        <input type="text" ng-model="person.name"/>

        <label>
            <msg key="value"></msg>
        </label>
        <input type="text" ng-model="person.value"/>
        
        <label>
            <msg key="quantity"></msg>
        </label>
        <input type="text" ng-model="person.quantity"/>
        
        <label></label>
        <button type="submit" class="btn" ng-click="save()">
            <msg key="save"></msg>
        </button>
    </fieldset>
</form>