<!DOCTYPE html>
<html data-ng-app="">
<head>
	<title> Simple MVC </title>
</head>
<body>
	<div data-ng-controller="SimpleController">
		Name:
		<br/>
		<input type="text" data-ng-model="name"/> {{ name }}
		<br/>
		<ul>
			<li data-ng-repeat="cust in customers | filter:name | orderBy:'city' "> {{ cust.name | uppercase}} - {{ cust.city}}</li>
		</ul>
	</div>	

	<script>
		function SimpleController($scope){
			$scope.customers = [
				{name:'Jan Kowalski', city:'Warszawa'}, 
				{name:'Jan Nowak', city:'Krakow'}, 
				{name:'Anna Mucha', city:'Warszawa'}
			]
		}
	</script>

	<script src="Scripts/angular.min.js"></script>	
</body>
</html>
