<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Jdbc Expense DAO Declaration -->
	<bean id="jdbcExpenseDAO" class="eu.tbelina.spring.dao.impl.jdbc.JdbcExpenseDAO">
		<property name="dataSource" ref="jdbcDataSource" />
	</bean>
	
	<!-- SimpleJdbc Expense DAO Declaration -->
	<bean id="simpleJdbcExpenseDAO" class="eu.tbelina.spring.dao.impl.jdbc.SimpleJdbcExpenseDAO">
		<property name="dataSource" ref="jdbcDataSource" />
	</bean>
	
	<!-- Hibernate DAO Declaration -->
	<bean id="hibernateExpenseDAO" class="eu.tbelina.spring.dao.impl.hibernate.HibernateExpenseDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- JPA DAO Declaration -->
	<bean id="jpaExpenseDAO" class="eu.tbelina.spring.dao.impl.jpa.JpaExpenseDAO">
		<property name="em" ref="emf" />
	</bean>
	
</beans>

