<style>
.pierwsza-animacja.ng-enter,
.pierwsza-animacja.ng-leave,
.pierwsza-animacja.ng-move {
-webkit-transition: 1s linear all;
transition: 1s linear all;
}
.pierwsza-animacja.ng-enter,
.pierwsza-animacja.ng-move {
opacity: 0;
}
.pierwsza-animacja.ng-enter.ng-enter-active,
.pierwsza-animacja.ng-move.ng-move-active {
opacity: 1;
}
.pierwsza-animacja.ng-leave {
opacity: 1;
}
.pierwsza-animacja.ng-leave.ng-leave-active {
opacity: 0;
}
</style>

<input placeholder="Szukaj" data-ng-model="search" class="form-control" />
<ol>
<li data-ng-repeat="grade in grades | filter:search"
class="pierwsza-animacja">
{{ grade }}
</li>
</ol>
