body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

a {
    color: #003781;
    outline: 0 none;
    text-decoration: none;
}

#body {
	margin-top: 21px;
	padding-bottom: 51px; /* because of bottom links */
}
.wrapper {
	margin: 0 auto;
	position: relative;
	width: 982px;
}
#content-area {
	float: left;
	width: 654px;
}
.container-home {
	background-color: #FFF;
	margin-bottom: 2px;
	padding: 7px;
        width: auto;
}
.floating-containers {    overflow: hidden;}
.floating-containers .container-home { float: left; margin-left: 2px; margin-bottom: -493px;    padding-bottom: 500px;}
.floating-containers .container-home a { text-decoration: none; color: #003781;}
.floating-containers .container-home a:hover { text-decoration: underline;}
.floating-containers  .first {margin-left: 0px;}
.floating-containers h2 { font-size: 16px;  padding: 3px 5px 3px 0px;}
.floating-containers p { margin-top:7px; }
#related-area .container {
	background-color: #E5E5E5;
}
.container-home img {	vertical-align: bottom;}
.grid1 { width: 148px; }
.grid2 { width: 312px; }
.grid3 { width: 476px; }
.grid4 { width: 640px; }
/* checkmarks */
.checkmarks { padding: 10px 10px 0px 0px;}
.checkmarks li {
	background: url(../images/checkmark.png) no-repeat 0 3px;
	list-style-type: none;
	margin: 0 0 0px 0;
	padding: 0px 0 0px 21px;
}
#flyout #related-area {
    width: 326px;
}

#related-area {
    float: left;
    margin-left: 2px;
    width: 162px;
}
/** FLAPS **/
.flap {
	margin-top: 2px;
}
.flap-header {
	background: url(../img/gradient_small.png) repeat-x;
	height: 24px;
	line-height: 24px;
	padding-left: 9px;
}
.flap-red {
    background: url("../img/sprite_button_backgrounds.png") repeat-x scroll 0 -180px #AA0000; 
    border-color: #AA0000;
    color:#fff;
}

.flap-orange {
    background: #ff7200; 
    border-color: #ff7200;
    color:#fff;
}

.flap-header span {
	background: url(../img/sprite_flap.png) no-repeat 0 9px;
	display: block;
	padding-left: 17px;
}
.flap-red span {background: url(../img/sprite_flap-white.png) no-repeat 0 9px;}
.flap-open .flap-header span {
	background-position: 0 -22px;
}
#related-area .flap:first-child {
	margin-top: 0;
}
#related-area .flap-header {
	height: 21px;
	line-height: 21px;
}

#related-area .flap-header span {
	background-position: 0 7px;
}
#related-area .flap-open .flap-header span {
	background-position: 0 -24px;
}
#related-area .flap-body {
	position: relative; /* prevents rendering errors when toggling the flap in IE 6 */
	width: 312px; /* triggers hasLayout */
	font: 11px/17px Verdana,sans-serif;
}
#related-area .flap-body-helper { /* padding has to be on helper div for smoother animation */
	padding: 10px 7px;
}

#related-area .flap-body-helper ul {
	list-style: none outside none;
}

#related-area .flap-body-helper ul li {
	padding: 0 0 0 1em !important;
	margin: 0px;
	margin-top: 4px;
}

.more a {
	font-size: 11px;
	line-height: 13px;
}
#related-area #service-module {
    background-color: #FFFFFF;
    margin-bottom: 2px;
    padding: 7px;
}
#service-module .field {
    background-position: -49px 0;
    padding-left: 108px;
}
.hopg_form_box form {    padding-top: 0px;}
.hopg_form_box .bggrey { margin-bottom: 7px;}
.no-float { float: none !important;}
#related-area #service_banner { 
    background-color: #FFFFFF;
    margin-bottom: 2px;
    padding: 7px;
}

.btn-screen {
    background: url("../img/sprite_button_backgrounds.png") repeat-x scroll 0 0 #003781;
    border: 1px solid #003781;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    text-align: left;
    width: 135px;
}
input.btn-screen,
button.btn-screen {
	font-family: Verdana, sans-serif;
	height: 26px;
	width: 155px;
}
.module .btn-screen {
	width: 126px;
}
.module input.btn-screen,
.module button.btn-screen {
	width: 148px;
}
.btn-screen::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}
.btn-screen:focus,
.btn-screen:hover {
	background-position: 0 -30px;
	color: #FFF;
	text-decoration: none;
}
.btn-red {
	background-color: #AA0000;
	background-position: 0 -180px;
	border-color: #AA0000;
}
.btn-red:focus,.btn-red:hover {	background-position: 0 -210px;}

.btn-orange {
	background: #ff7200;
	border-color: #ff7200;
}
.btn-orange:focus,.btn-orange:hover {	background-position: 0 0px;}


.home-submit_button{ text-align: right; padding-top: 7px; margin-left: 162px;}
.home-diclaimler{ padding: 13px 0 7px 0;}
/* thnk page */
.thk_page { padding:30px  45px; font-size: 12px;}
.thk_page h1{ color:#003781; font-size: 30px; font-weight: normal; padding-bottom: 20px;}
.thk_page-left { width: 194px; margin-right: 20px; float: left; padding: 15px 0; color:#003680; font-weight: bold;}
.thk_page-left img { float: left; margin-right:12px;  }
.thk_page-right { width: 660px; float: left; padding: 15px 0;}
.thk_page .divider { margin: 7px 0; }
.thk_page p { padding-bottom:  7px; }

.error_msg, .error_msg_contact, .error_send {
    display: none;
    padding: 6px 8px 0;
}
.error_msg p, .error_msg_contact p, .error_send {
    clear: both;
    color: #EE0000;
    font-size: 12px;
    padding-bottom: 12px;
    width: 100%;
}

#error_desc .error_desc {
	font-size: 10px;
}

#error_desc p {
	padding-bottom: 8px;
}


.home-diclaimler label {
	display: block; padding-left: 15px; text-indent: -15px;
}

.home-diclaimler input {
	width: 13px; height: 13px; padding: 0; margin:0; vertical-align: bottom; position: relative; top: -1px; *overflow: hidden; margin-right: 5px;
}
/*
#main-nav {
    left: 0;
    padding-left: 191px;
    position: absolute;
    top: 10px;
    width: 668px;
    z-index: 15;
}*/

#main-nav {
    left: 191px;
    padding-left: 0px;
    position: absolute;
    top: 10px;
    width: 668px;
    z-index: 15;
}
#main-nav li {
    float: left;
    height: 28px;
    line-height: 26px;
	margin-left: 0px;
}
#main-nav a {
    color: #4D4D4D;
}
#main-nav a.active {
    color: #003781;
}
#main-nav a:hover {
    color: #009EE0;
    text-decoration: none;
}
#left-hand #main-nav li {
    margin-right: 21px;
}
#flyout #main-nav {
    margin-left: 0;
}
#flyout #main-nav li a {
    float: left;
    height: 25px;
    padding: 1px 11px 2px;
}
#flyout #main-nav .level1 {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #D7D7D7 -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: none;
    border-width: 0;
    display: none;
    height: 30px;
    left: 175px;
    line-height: 12px;
    padding: 7px 4px 1px 31px;
    position: absolute;
    top: 30px;
    width: 772px;
    z-index: 5;
}
#flyout #main-nav li:hover a {
    background-color: #FFFFFF;
    color: #003781;
}
#main-nav li {
    float: left;
    height: 30px;
    line-height: 26px;
}
#main-nav li.active a {
    background-color: #FFFFFF;
    color: #003781;
}
#main-nav li.active a:hover {
    background-color: #FFFFFF;
    color: #009EE0;
}
#main-nav li a:hover {
    background-color: #FFFFFF;
    color: #009EE0;
}
#main-nav li.active .level1 a {
    color: #4D4D4D;
}
#main-nav li.active ul li ul li ul li.active a {
    color: #003781;
}
#flyout #main-nav .level1 li {
    float: left;
    height: 20px;
    padding: 0 15px 10px 0;
}
#flyout #main-nav .level1 .level2 {
    background-color: #FFFFFF;
    display: none;
    left: 17px;
    padding: 9px 6px 14px 14px;
    position: absolute;
    top: 34px;
    width: 770px;
    z-index: 5;
}
#flyout #main-nav .level1 .level2 li {
    float: left;
    height: auto;
    line-height: 1;
    width: 226px;
}
#flyout #main-nav .level1 .level2 li a {
    color: #4D4D4D;
    height: auto;
    padding: 0;
}
#flyout #main-nav .level1 .level2 .col1, #flyout #main-nav .level1 .level2 .col2, #flyout #main-nav .level1 .level2 .col3 {
    float: left;
    margin-right: 6px;
    width: 226px;
}
#flyout #main-nav .level1 .level2 .col3 {
    margin-right: 0;
}
#flyout #main-nav .level1 .level2 li ul {
    border-top: 1px solid #D4D4D4;
    float: left;
    width: 226px;
}
#flyout #main-nav .level1 .level2 li li a {
    background: none no-repeat scroll 1px 9px transparent;
    color: #4D4D4D;
    display: inline-block;
    padding: 5px 0 5px 8px;
}
#flyout #main-nav .level1 li.active .level2 li li a {
    color: #4D4D4D;
}
#flyout #main-nav .level1 .level2 li li a:hover {
    background: none no-repeat scroll 1px 9px transparent;
    padding: 5px 0 5px 8px;
}
#flyout #main-nav .level1 .level2 li li.more {
    background-image: none;
}
#flyout #main-nav .level1 .level2 li li.more a {
    background: none no-repeat scroll right 10px transparent;
    color: #4D4D4D;
    padding-right: 8px;
    width: auto;
}
#flyout #main-nav .level1 .level2 li li.more a:hover {
    background: none no-repeat scroll right 10px transparent;
}
#flyout #main-nav .level1 .level3 {
    border-top: 0 none !important;
    margin-left: 10px;
}
#flyout #main-nav .level1 .level3 li {
    border-bottom: 0 none !important;
    padding: 7px 0 0 !important;
}
#flyout #main-nav li a:hover {
    background-color: #FFFFFF;
    border: 0 none;
    padding: 1px 11px 2px;
    position: relative;
    z-index: 6;
}
#flyout #main-nav li .level1 li a {
    background-color: #FFFFFF;
    border: 0 none;
    color: #4D4D4D;
    height: 20px;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 6;
}
#flyout #main-nav li.active .level1 li.active a {
    color: #003781;
}
#flyout #main-nav li .level1 .level2 a:hover {
    background-color: transparent;
    border: 0 none;
    padding: 0;
}
#flyout #main-nav li .level1 li .level2 {
}
#flyout #main-nav li.active .level1, #flyout #main-nav li.rm .level1 {
    display: block;
    left: 175px !important;
}
#flyout #main-nav li .level1 li a:hover {
    color: #009EE0 !important;
    padding: 0;
}
#flyout #main-nav li .level1 li .level2 li ul li {
    border-bottom: 1px solid #D4D4D4;
    float: left;
    padding: 0;
    width: 226px;
}
#flyout #main-nav li .level1 li .level2 li ul li ul {
    float: left;
    margin-bottom: -1px;
    margin-top: -1px;
    padding: 0 0 0 14px;
    width: 212px;
}
#flyout #main-nav li .level1 li .level2 li ul li ul li {
    padding: 0;
    width: 212px;
}
#flyout #main-nav li .level1 li .level2 li ul li ul li a {
    background: none no-repeat scroll 1px 9px transparent;
    color: #4D4D4D;
    padding: 5px 0 5px 8px;
    width: 204px;
}
#flyout #main-nav.flyout-small {
    margin-left: -10px;
}
#flyout #main-nav.flyout-small > li:first-child a {
    padding-left: 11px;
}
#flyout #main-nav.flyout-small > li:first-child:hover a {
    padding-left: 10px;
}
#flyout #main-nav.flyout-small li {
    position: relative;
}
#flyout #main-nav.flyout-small .level2 {
    padding: 13px 10px 10px;
    width: 207px;
}
#flyout #main-nav.flyout-small .level2 li {
    padding: 3px 0;
}
#flyout #main-nav.flyout-small .level2 li a {
    padding-left: 0 !important;
}