
<p data-ng-repeat="res in combinedResult track by $index">
{{res.nazwa}}
</p>

<div class="row">

    <div class="col-sm-6">
        <div class="panel panel-default left">
	<div class="panel-body">
		<h3>Lista</h3>
		<p data-ng-repeat="photo in photos track by $index">
			{{$index+1}}. 
			<a ui-sref="photoDetails({id: photo.id})" ng-mouseenter="change(photo.id)">{{photo.name}}
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</p>
	</div>
	</div>
    </div>
    
    <div class="col-sm-6">
        <div class="panel panel-default">
	<div class="panel-body">
		<h3>Szczegóły</h3>
		<div class="list-group">
			<a href="#" class="list-group-item active">{{photo.name}}</a>
			<a href="#" class="list-group-item"> Obraz: <b> {{photo.img}}</b></a>
			<a href="#" class="list-group-item"> Feature: <b>{{photo.feature}}</b></a>
		</div>
		<a href="#/photos" class="btn btn-default">Powrót do listy</a>
		<a href="" ng-click="delete(photo.id)" class="btn btn-danger">Usuń {{photo.name}}</a>
	</div>
</div>
    </div>

</div> 







