<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="database/Spring-DataSource.xml"/>
	<import resource="spring/Spring-DAO.xml"/>
	<import resource="spring/Spring-Services.xml"/>
	<import resource="spring/Spring-Hibernate.xml"/>
	<import resource="spring/Spring-JPA.xml"/> 
	
</beans>