<table class="table table-striped">
    <tr>
        <th ng-click="orderBy('id')">
            <msg key="id"></msg>
            <i ng-class="orderIcon('id')"></i></th>
        <th ng-click="orderBy('name')">
            <msg key="name"></msg>
            <i ng-class="orderIcon('name')"></i></th>
        <th ng-click="orderBy('quantity')">
            <msg key="quantity"></msg>
            <i ng-class="orderIcon('quantity')"></i></th>
        <th ng-click="orderBy('value')">
            <msg key="value"></msg>
            <i ng-class="orderIcon('value')"></i></th>
        <th ng-click="orderBy('date')">
            <msg key="date"></msg>
            <i ng-class="orderIcon('date')"></i></th>    
        <th>
            <msg key="delete"></msg>
        </th>
    </tr>
    <tr ng-repeat="person in persons|orderBy:order">
        <td>{{person.id}}</td>
        <td>{{person.name}}</td>
        <td>{{person.quantity}}</td>
        <td>{{person.value}}</td>
        <td>{{person.date | date:'dd/MM/yyyy'}}</td>
        <td><a ng-click="delete(person)"><i class="icon-trash"></i></a></td>
    </tr>
    
   
</table>

<form>
    <fieldset>
        <legend>
            <msg key="newExpense"></msg>
        </legend>

        <label>
            <msg key="name"></msg>
        </label>
        <input type="text" ng-model="person.name"/>

        <label>
            <msg key="value"></msg>
        </label>
        <input type="text" ng-model="person.value"/>
        
        <label>
            <msg key="quantity"></msg>
        </label>
        <input type="text" ng-model="person.quantity"/>
        
        <label></label>
        <button type="submit" class="btn" ng-click="save()">
            <msg key="save"></msg>
        </button>
    </fieldset>
</form>

