<div>
    <h1>Dyrektywy domyślne</h1>
</div>

<hr/>
<ul>  
	<li>
		<h3> Dyrektywa colorChanger</h3>
		<div data-color-changer="red">Tło czerwone</div>
		<div data-color-changer="yellow">Tło żółte</div>
		<div data-color-changer="green">Tło zielone</div>
	</li>
	<li>
		<h3> Dyrektywa eventsEvaluation</h3>
		<form>
			<h4>Oceń wydarzenie</h4>
			<div class="row">
				<div class="col-md-4"> 
					<events-evaluation text="Lokalizacja" data-ng-model="number"></events-evaluation>
				</div>
				<div class="col-md-4">
					<events-evaluation text="Hotel" data-ng-model="number"></events-evaluation>
				</div>
				<div class="col-md-4">
					<events-evaluation text="Jedzenie" data-ng-model="number"></events-evaluation>
				</div>
			</div>
		</form>

	</li>
	
<ul>



<ui-view>

</ui-view>

