<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- ****************************************************************************** -->
	<!-- 								SPRING MVC 										-->
	
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>  
		
	<!-- appServlet supports JSP (all) types of requests -->	
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/jsp/*</url-pattern>
	</servlet-mapping>  
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class> org.springframework.web.context.request.RequestContextListener </listener-class>
	</listener>
	
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml,
			/WEB-INF/appServlet-servlet.xml,
			/WEB-INF/spring-security.xml
		</param-value> 
	</context-param>

	<!-- ****************************************************************************** -->
	<!-- 							SPRING SECURITY (filters) 							-->
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    	
    <!-- ****************************************************************************** -->
  	<!-- 								AngularJS servlet 								-->
  	<servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>/action/*</url-pattern> 
    </servlet-mapping>
    
    <!-- ****************************************************************************** -->
    <!-- 								JSF/Primafaces servlet				 			-->
   
    <!-- JSF Servlet is defined to container -->
	<servlet>
	  <servlet-name>Faces Servlet</servlet-name>
	   <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	  <load-on-startup>1</load-on-startup> 
	</servlet>
	  
	<!-- Mapping with servlet and url for the http requests. -->
	<servlet-mapping>
	  <servlet-name>Faces Servlet</servlet-name>
	  <url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>Faces Servlet</servlet-name>
	  <url-pattern>*.xhtml</url-pattern>
	</servlet-mapping> 

    <!-- Project Stage Level -->
	<context-param>
	  <param-name>javax.faces.PROJECT_STAGE</param-name>
	  <param-value>Development</param-value>
	</context-param>
	  
    <!-- Welcome Page -->
	<!--  <welcome-file-list>
	    <welcome-file>/jsf_pages/index.xhtml</welcome-file>
	  </welcome-file-list> 
	-->
	
	<!-- ****************************************************************************** -->
    <!-- 								HTTP INVOKER                                    -->
	<servlet>
    	<servlet-name>httpInvoker</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
    	<servlet-name>httpInvoker</servlet-name>
    	<url-pattern>/services/* </url-pattern>  <!-- changed from: /*.http -->
	</servlet-mapping>
	
	<!-- ****************************************************************************** -->
    <!-- 					Web Services: JAX-WS (SOAP)                                 -->
    
	<servlet>
   		<servlet-name>jaxws-servlet</servlet-name>
    	<servlet-class>
    		com.sun.xml.ws.transport.http.servlet.WSSpringServlet
    	</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>jaxws-servlet</servlet-name>
        	<url-pattern>/jaxws-spring</url-pattern>
    </servlet-mapping>

    <!-- ****************************************************************************** -->
    <!-- 						    REST: JAX-RS (Jersey)                               -->
	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>
			com.sun.jersey.spi.spring.container.servlet.SpringServlet
		</servlet-class>
		<init-param>
			<param-name>
                                 com.sun.jersey.config.property.packages
                        </param-name>
			<param-value>eu.tbelina.spring.jax_rs</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/jaxrs/*</url-pattern>
	</servlet-mapping>
</web-app>
